{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% block title %}
        <title>Encore</title>
    {% endblock %}

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />


    <!-- Bootstrap CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Tabulator -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator-tables/5.4.0/css/tabulator.min.css" integrity="sha512-uXx6BpE3VCZ5j/eSrt2nUC4ZvIGiFx9JJD8gjiyi2wNBhczL31a8oCMPayARy/8pedUvjKkLw3VjmUyL9yRZkQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/tabulator_bootstrap5.min.css' %}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/fc6bf15ebc.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet" />

    {% block stylesheet %}
    {% endblock %}
</head>
<body>
{% block navbar %}
    <!-- Navbar Light -->
    <div class="min-height-300 bg-gradient-info position-absolute w-100"></div>
    <nav class="navbar navbar-main navbar-dark navbar-expand-lg z-index-3 py-3 shadow-none">
            <a class="navbar-brand text-white" href="{% url 'homepage' %}" rel="tooltip" title="Encore Projects" data-placement="bottom">
                Encore
            </a>
            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav navbar-nav-hover ms-auto row">
                    {% if not user.is_anonymous %}
                        <div class="col-auto m-auto">
                            <a href="{% url 'create-project' %}" class="btn btn-outline-light">
                                <i class="fa fa-solid fa-plus"></i>
                                Create Project
                            </a>
                        </div>
                        <div class="col-auto m-auto">
                            <div class="dropdown">
                                <a href="" class="btn btn-light dropdown-toggle" id="profileMenuButton" data-bs-toggle="dropdown">
                                    {{ user }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" style="margin-top: 1rem !important;" aria-labelledby="profileMenuButton">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-sign-out"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
    </nav>
    <!-- End Navbar -->
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
    <footer class="footer pt-3  ">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">
                        Made for Encore Projects © {{ year }}
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><!-- Font Awesome Icons -->
<!-- Core -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Tabulator -->
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js" integrity="sha512-SgWewGM3r8xXm8LNXt4ZHqKVKu/7eKrJ1aBCbMaX44xXXaCcIvCAvD2kj9qnC1lhyjAu04mcPiTzcc/CaACnUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.4/luxon.min.js" integrity="sha512-XdACFfCJeqqfVU8mvvXReyFR130qjFvfv/PZOFGwVyBz0HC+57fNkSacMPF2Dyek5jqi4D7ykFrx/T7N6F2hwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator-tables/5.4.0/js/tabulator.min.js" integrity="sha512-A7sDiUVcghRe0vGaCazBRtsXGeGIeedbK564KLoPwr81NnuOub7+qua6GkD8AvEBatIcT+XRVTJnEMPftC4SNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Theme JS -->
<script src="{% static 'js/argon-dashboard.min.js' %}"></script>

{% block scripts %}

{% endblock %}
</body>
</html>
