{% extends 'base.html' %}
{% block stylesheet %}
    <style>
        .page-item.active .page-link {
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6 class="text-uppercase">EFU List</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class=" w-100 d-flex justify-content-end p-4">
                            <button class="btn bg-gradient-info btn-info dropdown-toggle" id="exportMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Export</button>
                            <ul class="dropdown-menu" aria-labelledby="exportMenuButton">
                                <li><a class="dropdown-item export-xlsx" href="#">Excel</a></li>
                                <li><a class="dropdown-item export-pdf" href="#">PDF</a></li>
                            </ul>
                        </div>
                        <div class="table-responsive table-bordered table-striped table-striped-columns m-4" id="projectsTable"></div>
                        <div class="d-flex m-4 justify-content-center justify-content-lg-end">
                            <ul class="pagination pagination-info">
                                <li class="page-item page-item-previous">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active page-item-numbered"><a class="page-link" href="#">1</a></li>
                                <li class="page-item page-item-numbered"><a class="page-link" href="#">2</a></li>
                                <li class="page-item page-item-numbered"><a class="page-link" href="#">3</a></li>
                                <li class="page-item page-item-next">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let data = [
          {% for project in projects %}
            {
              "job_no": {{ project.pk }},
              "po_code": {{ project.po_code }},
              "name": "{{ project.name }}",
              "description": "{{ project.description }}",
              "po_date": "{{ project.po_date|date:"d/m/Y" }}",
              "po_spec": "{{ project.po_spec }}",
              "supplier_name": "{{ project.supplier_name }}",
              "modified_date": "{{ project.modified_date|date:"d/m/Y" }}",
              "revision": "{{ project.revision }}",
              "is_validated": {{ project.is_validated|lower }}
            }
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        let columnDefaults = {
          hozAlign: "left",
          vertAlign: "middle",
          formatter: "plaintext",
          resizable: true,
          titleFormatter: (cell) => {
            cell.getElement().classList.add("text-md","font-weight-bolder")
            return cell.getValue()
          },
          sorter: "string"
        };
        let columns = [
          {
            title: "Encore job no",
            field: "job_no",
            formatter: (cell) => {
              return `<a class="text-decoration-underline text-info" href="/project/MH-${cell.getValue()}">MH-${cell.getValue()}</a>`;
            },
            sorter: "number"
          },
          {
            title: "PO Code",
            field: "po_code",
            formatter: "text",
            sorter: "number"
          },
          {
            title: "Project",
            field: "name",
          },
          {
            title: "Main PO spec",
            field: "po_spec",
          },
          {
            title: "Spec description",
            field: "description",
          },
          {
            title: "PO date",
            field: "po_date",
            formatter: "datetime",
            formatterParams: {
              inputFormat: "dd/MM/yyyy",
              outputFormat: "dd/MM/yyyy",
              timezone: "system"
            },
            sorter: "date",
            sorterParams: {
              format: "dd/MM/yyyy",
              alignEmptyValues: "bottom"
            }
          },
          {
            title: "Supplier name",
            field: "supplier_name",
          },
          {
            title: "EFU rev. date",
            field: "modified_date",
            formatter: "datetime",
            formatterParams: {
              inputFormat: "dd/MM/yyyy",
              outputFormat: "dd/MM/yyyy",
              timezone: "system"
            },
            sorter: "date",
            sorterParams: {
              format: "dd/MM/yyyy",
              alignEmptyValues: "bottom"
            }
          },
          {
            title: "EFU rev.",
            field: "revision",
          },
          {
            title: "EFU validated",
            field: "is_validated",
            formatter: "tickCross",
            formatterParams: {
              tickElement: "<span class=\"badge badge-sm bg-gradient-success\">Yes</span>",
              crossElement: "<span class=\"badge badge-sm bg-gradient-secondary\">No</span>"
            },
            formatterPrint: (cell) => {
              let row = cell.getData()
              return row === true ? "YES" : "NO"
            },
            formatterClipboard: (cell) => {
              let row = cell.getData()
              return row === true ? "YES" : "NO"
            },
            sorter: "boolean"
          }
        ];
        let table = new Tabulator("#projectsTable", {
          data,
          clipboard: "copy",
          columnDefaults,
          columns,
          downloadRowRange: "visible",
          height: "100%",
          initialSort: [
            {column: "name", dir: "asc"}
          ],
          layout: "fitColumns",
          pagination: true,
          paginationSize:10,
          persistence: {
            columns: true,
            sort: true
          },
          persistenceMode: true,
          placeholder: "No projects available",
          resizableRows: false
        });
        table.on("tableBuilt", () => {

          // Pagination hook
          let currentPage = table.getPage();
          let lastPage = table.getPageMax();
          $(".tabulator-footer").hide();

          let previousPageItem = $(".page-item-previous");
          let nextPageItem = $(".page-item-next");
          previousPageItem.removeClass("disabled");
          nextPageItem.removeClass("disabled");

          if (currentPage > 1) {
            previousPageItem.on("click", () => { table.setPage("prev")});
          } else {
            previousPageItem.addClass("disabled");
          }
          if (currentPage < lastPage) {
            nextPageItem.on("click", () => { table.setPage("next")});
          } else {
            nextPageItem.addClass("disabled");
          }
          $(".page-item-numbered").each((index, elem) => {
            $(elem).removeClass("disabled");
            let pageNumber = currentPage === 1 ? currentPage + index : currentPage + index - 1;
            //$(elem).text(pageNumber.toString());
            if (pageNumber < lastPage) {
              $(elem).on("click", () => { table.setPage(pageNumber)});
            } else {
              $(elem).addClass("disabled");
            }
          });
          table.on("rowDblClick", (event, row) => {
            $(row._row.cells[0].element).children("a")[0].click();
          });
          table.on("rowTap", (event, row) => {
            $(row._row.cells[0].element).children("a")[0].click();
          });

          // Export hook
          $(".export-xlsx").on("click", () => table.download("xlsx", "efu.xlsx", {}, "visible"));
          $(".export-pdf").on("click", () => table.download("pdf", "efu.pdf", {}, "visible"));
        });
    </script>
{% endblock %}
